@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Биндинг объекта","Action1") <br />
@Html.ActionLink("Биндинг ограниченных полей объекта","Action2") <br />
@Html.ActionLink("Биндинг сложного объекта","Action3") <br />
@Html.ActionLink("Биндинг массива","Action4") <br />
@Html.ActionLink("Биндинг массива объектов","Action5") <br />
@Html.ActionLink("Биндинг файла","Action6") <br />

<hr />

@Html.ActionLink("Биндер для массива","Action7")<br />
@Html.ActionLink("Биндинг объекта с двумя массивами внутри","Action8") <br />
@Html.ActionLink("Биндер для Employee","Action9") <br />
@Html.ActionLink("Биндер для User","Action10") <br />
